
/************************************/
/*           GENERAL BODY           */
/************************************/

html, body {

    font-size: 13pt;
    font-family: arial;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

body {
    background-color: #eee;   
}

img {
    max-width: 100%;
    height: auto;
}

/***PAGE CONTAINERS***/

/********************************/
/*         BODY OF PAGE         */
/********************************/

.header {
    position: absolute;
    background-color: white;
    border: 1px solid grey;
    
    height: 20%;
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 5%;
}

h1 {
    text-align: center;
    padding-top: 20px;

    font-size: 60px;
}

.content {
    position: absolute;
    background-color: white;
    border: 1px solid grey;
    
    height: 250%;
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 17%;

    text-align: center;

}

.welcome {
    
    padding-top: 100px;

    font-size: 30px;
}

/***HOME IMAGES***/

.cat1 {
    margin-left: 40px;
    margin-top: 150px;
}

.cat2 {
    margin-left: 40px;
    margin-top: 150px;
}

.cat3 {
    margin-left: 40px;
    margin-top: 150px;
}

.cat4 {
    margin-left: 40px;
    margin-top: 150px;
}

.video1 {
    padding-top: 100px;
}



/**********************************/
/*           NAVIGATION           */
/**********************************/

/***NAV CONTAINER**/

.nav{
    position: absolute;
    height: 500px;
    width: 100%;

    background-image: url(http://i.imgur.com/x5vECPi.jpg);
    background-size: 50px 40px;
    
}

/***NAV BAR***/

ul {
    list-style-type: none;
    margin-top: 0px;

    padding-left: 400px;

    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid grey;
    
    
}

li {
    float: left;
}

li a {
    display: block;
    color: black;

    text-align: center;
    padding: 15px;

    text-decoration: none;
    background-color: white;

    font-size: 16px;
    border-right: 1px solid grey;
    border-bottom: 4px solid red;
}

.left {
    border-left: 1px solid grey;
}

ul a:hover {
    background-color: grey;
    color: black;
}


/***SEARCH BAR***/
.search {
    position: absolute;
    padding-left: 400px;
    
}
input[type=text] {
    width: 130px;
    font-size: 16px;
    border: 1px solid grey;
    position: absolute;

    background-color: white;
    background-image: url('http://www.freeiconspng.com/uploads/search-icon-png-2.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 3px;

    margin: 7px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
}




/********************************/
/*            FOOTER            */
/********************************/

.footer {
    position: absolute;
    width: 100%;

    height: 0px;
    top: 290%;

    background-color: white;
    border-top: 1px solid grey;

    padding-top: 5%;

}